<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark" style="z-index: 1;">
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="menu-collapsed"> Blog</span>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/articles" routerLinkActive="active" >
            <i class="fas fa-home"></i>&ensp;Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ml-1">
          <a class="nav-link btn btn-success" routerLink="/articles/new" routerLinkActive="active">
            <i class="fas fa-edit"></i>&ensp;New Article</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!_authUserService.isLoggedIn()" class="nav-item">
          <a class="nav-link btn btn-primary" routerLink="/login" routerLinkActive="active">
            <i class="fas fa-user"></i>&ensp;Login</a>
        </li>
        <li *ngIf="!_authUserService.isLoggedIn()" class="nav-item ml-1">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">
            <i class="fas fa-user-plus"></i>&nbsp;Register</a>
        </li>
        <li *ngIf="_authUserService.isLoggedIn()" class="nav-item">
            <a class="nav-link btn btn-primary" style="cursor: pointer;" (click)="_authUserService.logoutUser()" >
                Logout&ensp;<i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>
    </div>
  </nav><!-- NavBar END -->
  <!-- Bootstrap row -->
  <div class="row" id="body-row">
      <!-- Sidebar -->
      <div #sidebarContainer id="sidebar-container" class="sidebar-expanded" style="position:fixed;top:0;z-index:5;">
          <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
          <!-- Bootstrap List Group -->
          <ul class="list-group">
              <!-- Separator with title -->
              <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                <small>MAIN MENU</small><button class="shrink-sidebar close ml-auto text-white" style="font-size:1rem;" ><i class="fa fa-times" aria-hidden="true"></i></button>
              </li>
              <!-- /END Separator -->
              <!-- Menu with submenu -->
              <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-dashboard fa-fw mr-3"></span>
                      <span class="menu-collapsed">Dashboard</span>
                      <span class="submenu-icon ml-auto"></span>
                  </div>
              </a>
              <!-- Submenu content -->
              <div id='submenu1' class="collapse sidebar-submenu">
                  <a routerLink="/articles" class="shrink-sidebar list-group-item list-group-item-action bg-dark text-white">
                      <span class="menu-collapsed"><i class="fas fa-home"></i>&emsp;Home</span>
                  </a>
                  <a routerLink="/articles/new" class="shrink-sidebar list-group-item list-group-item-action bg-dark text-white">
                      <span class="menu-collapsed"><i class="fas fa-edit"></i>&emsp;New Article</span>
                  </a>
                  <!-- <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                      <span class="menu-collapsed">Tables</span>
                  </a> -->
              </div>
              <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-user fa-fw mr-3"></span>
                      <span class="menu-collapsed">Profile</span>
                      <span class="submenu-icon ml-auto"></span>
                  </div>
              </a>
              <!-- Submenu content -->
              <div id='submenu2' class="collapse sidebar-submenu">
                  <a (click)="hide()" *ngIf="!_authUserService.isLoggedIn()" routerLink="/login" class="shrink-sidebar list-group-item list-group-item-action bg-dark text-white">
                      <span class="menu-collapsed"><i class="far fa-user"></i>&emsp;Login</span>
                  </a>
                  <a (click)="hide()" *ngIf="!_authUserService.isLoggedIn()" routerLink="/register" class="shrink-sidebar list-group-item list-group-item-action bg-dark text-white">
                      <span class="menu-collapsed"><i class="fas fa-user-plus"></i>&emsp;Sign Up</span>
                  </a>
                  <a *ngIf="_authUserService.isLoggedIn()" (click)="hide2()" class="shrink-sidebar list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed"><i class="fas fa-sign-out-alt"></i>&emsp;Logout</span>
                </a>
              </div>
              <!-- <a href="#" class="bg-dark list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-tasks fa-fw mr-3"></span>
                      <span class="menu-collapsed">Tasks</span>
                  </div>
              </a> -->
              <!-- Separator with title -->
              <!-- <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                  <small>OPTIONS</small>
              </li> -->
              <!-- /END Separator -->
              <!-- <a href="#" class="bg-dark list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-calendar fa-fw mr-3"></span>
                      <span class="menu-collapsed">Calendar</span>
                  </div>
              </a>
              <a routerLink="/articles" routerLinkActive="active" class="bg-dark list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-envelope-o fa-fw mr-3"></span>
                      <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
                  </div>
              </a> -->
              <!-- Separator without title -->
              <li class="list-group-item sidebar-separator menu-collapsed"></li>
              <!-- /END Separator -->
              <a class="shrink-sidebar bg-dark list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-question fa-fw mr-3"></span>
                      <span class="menu-collapsed">About Me</span>
                  </div>
              </a>
          </ul><!-- List Group END-->
      </div><!-- sidebar-container END -->
  </div><!-- body-row END -->