<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="post-heading">
                    <h1>{{article.title}}</h1>
                    <h2 class="subheading">{{article.caption.toLowerCase()}}
                    </h2><span class="meta">Posted by&nbsp;<a
                            href="#">{{article.author.username}},</a>&nbsp;on
                        {{article.timeCreated}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto quill-container">
                <quill-view [content]="article.content" format="text"
                    theme='snow'>
                </quill-view>
                <!-- <div class="ql-container ql-snow" style="border-width: 0;">
                        <div class="ql-editor" [innerHTML]="editorContent">
                        </div>
                </div> -->
                <div *ngIf="!isAuthor" class="d-flex">
                    <button class="mr-1 border-0 bg-white"
                        style="outline: none;"><i class="fa fa-eye"
                            aria-hidden="true"></i>
                        <small
                            class="text-muted views">&ensp;{{article.views.length}}</small></button>
                    <!-- <button class="cstmbtn1 mx-1 border-0 bg-white text-secondary">like</button> -->
                    <button (click)="like()" *ngIf="!isLiked"
                        class="cstmbtn1 mx-1 border-0 bg-white text-secondary">like</button>
                    <button (click)="nonlike()" *ngIf="isLiked"
                        class="cstmbtn2 mx-1 border-0 bg-white text-success">liked!</button>
                    <!-- <small class="text-muted">&ensp;{{article.likes.length}}</small> -->
                    <button (click)="dislike()" *ngIf="!isDisliked"
                        class="cstmbtn1 mx-1 border-0 bg-white text-secondary">dislike</button>
                    <button (click)="nondislike()" *ngIf="isDisliked"
                        class="cstmbtn2 mx-1 border-0 bg-white text-danger">disliked!</button>
                    <!-- <small class="text-muted">&ensp;{{article.dislikes.length}}</small> -->
                </div>
                <div  *ngIf="isAuthor" class="d-flex">
                    <button (click)="showViews()" class="mr-1 border-0 bg-white"
                        style="outline: none;"><i class="fa fa-eye"
                            aria-hidden="true"></i>
                        <small
                            class="text-muted views">&ensp;{{article.views.length}}</small></button>
                    <button (click)="showLikes()" class="mr-1 border-0 bg-white"
                        style="outline: none;"><i
                            class="fa fa-heart-o text-danger"
                            aria-hidden="true"></i>
                        <small
                            class="text-muted views">&ensp;{{article.likes.length}}</small></button>
                    <button (click)="showDislikes()" class="mr-1 border-0 bg-white"
                        style="outline: none;"><i
                            class="fa fa-thumbs-o-down text-primary"
                            aria-hidden="true"></i>
                        <small
                            class="text-muted views">&ensp;{{article.dislikes.length}}</small></button>
                </div>

                <div #viewsSheet class="bottom-sheet">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-white m-0" style="font-weight:700;">views</h5>
                            <button (click)="close()" class="btn text-white" style="font-size: 2rem;">&times;</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-3 my-2"
                            *ngFor="let view of article.views">
                            <div class="media">
                                <img src="https://img.favpng.com/23/0/3/computer-icons-user-profile-clip-art-portable-network-graphics-png-favpng-YEj6NsJygkt6nFTNgiXg9fg9w.jpg"
                                    height="22px" width="22px" class="mr-3 rounded-circle" alt="...">
                                <div class="media-body">
                                    <strong class="mt-0">{{view.username}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div #likesSheet class="bottom-sheet">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-white m-0" style="font-weight:700;">likes</h5>
                            <button (click)="close()" class="btn text-white" style="font-size: 2rem;">&times;</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-3 my-2"
                            *ngFor="let like of article.likes">
                            <div class="media">
                                <img src="https://img.favpng.com/23/0/3/computer-icons-user-profile-clip-art-portable-network-graphics-png-favpng-YEj6NsJygkt6nFTNgiXg9fg9w.jpg"
                                    height="22px" width="22px" class="mr-3 rounded-circle" alt="...">
                                <div class="media-body">
                                    <strong class="mt-0">{{like.username}}</strong>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="article.likes.length===0" class="nohover col-12 p-3 my-2">
                            No Likes
                        </div>
                    </div>
                </div>

                <div #dislikesSheet class="bottom-sheet">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-white m-0" style="font-weight:700;">dislikes</h5>
                            <button (click)="close()" class="btn text-white" style="font-size: 2rem;">&times;</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-3 my-2"
                            *ngFor="let dislike of article.dislikes">
                            <div class="media">
                                <img src="https://img.favpng.com/23/0/3/computer-icons-user-profile-clip-art-portable-network-graphics-png-favpng-YEj6NsJygkt6nFTNgiXg9fg9w.jpg"
                                    height="22px" width="22px" class="mr-3 rounded-circle" alt="...">
                                <div class="media-body">
                                    <strong class="mt-0">{{dislike.username}}</strong>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="article.dislikes.length===0" class="nohover col-12 p-3 my-2">
                            No Dislikes
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>