@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Permanent+Marker&display=swap');

* {
  font-family: Lora, 'Times New Roman', serif;
  letter-spacing: 0.8px;
  color: #333;
}

header.masthead {
    margin-bottom: 50px;
    background: no-repeat 50%;
    background-color: #6c757d;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.15);
  }
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0 150px;
    color: #fff;
  }
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
      padding: 200px 0;
    }
  }
  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: center;
  }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
  }
  header.masthead .page-heading .subheading,
  header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
      font-size: 80px;
    }
  }
  header.masthead .post-heading h1 {
    font-size: 35px;
  }
  header.masthead .post-heading .meta,
  header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block;
  }
  header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0 30px;
    color: #6c757d;
    font-family: monospace;
    letter-spacing: 0.5px;
    
  }
  header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: Lora, Times New Roman, serif;
  }
  header.masthead .post-heading .meta a {
    color: #6c757d;
  }
  @media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
      font-size: 55px;
    }
    header.masthead .post-heading .subheading {
      font-size: 30px;
    }
  }

  p {
    line-height: 1.5;
    margin: 30px 0;
  }
  p a {
    text-decoration: underline;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  a {
    color: #212529;
    transition: all 0.2s;
  }
  a:focus,
  a:hover {
    color: #007bff;
  }
  blockquote {
    font-style: italic;
    color: #6c757d;
  }
  .section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
  }

  .ql-snow .ql-editor h1 {
    font-size: 5rem;
    font-weight: 600;
}

.quill-container {
  background-color: white;
  padding: 2rem 3rem 3rem 3rem;
  box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.1),
  10px 14px 7px rgba(0, 0, 0, 0.05);
}

@media (max-width: 767.98px) {
  .quill-container {
    padding: 1rem 0.4rem 3rem 0.4rem;
  }
}

/* .button2::before {
  content: '\f004';
  font-family: FontAwesome;
  display: inline;
} */

.cstmbtn1 {
  letter-spacing: 2px;
  font-weight: 600;
  outline: none;
  font-family: 'Permanent Marker','Lobster', cursive;
}

.cstmbtn2 {
  letter-spacing: 0.8px;
  font-weight: 800;
  outline: none;
  /* text-transform: lowercase; */
  font-family: 'Permanent Marker', 'Lobster', cursive;
}

.views {
  font-size: 0.9rem;
  font-weight: 900;
}

.bottom-sheet {
  position: fixed;
  bottom: -100%;
  left: 27.5vw;
  right: 27.5vw;
  width: 45vw;
  background-color: white;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 15px 5px rgba(200, 200, 200, 0.15);
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.9s ease-out;
}

@media (max-width: 575.98px) {
  .bottom-sheet {
    width: 90vw;
    left: 3vw;
    right: 5vw;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bottom-sheet {
    width: 70vw;
    left: 14vw;
    right: 16vw;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .bottom-sheet {
    width: 60vw;
    left: 20vw;
    right: 20vw;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .bottom-sheet {
    width: 54vw;
    left: 23vw;
    right: 23vw;
  }
}

.bottom-sheet .row:nth-child(1) .col-12 {
  background-color: #007bff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 42px 10px 42px;
}

.bottom-sheet .row:nth-child(2) {
  padding: 16px 32px 16px 32px;
  max-height: 30vh;
}

.bottom-sheet .row:nth-child(2) .col-12 {
  background-color: rgba(200, 200, 200, .15);
}

.bottom-sheet .row:nth-child(2) .col-12:nth-child(1n):not(.nohover):hover {
  background-color: rgb(228, 162, 88);
}

.bottom-sheet .row:nth-child(2) .col-12:nth-child(2n):hover {
  background-color: #007bff;
}

.bottom-sheet .row:nth-child(2) .col-12:hover .media .media-body strong {
  color: white;
}

.fa.fa-whatsapp {
  color: green;
  font-weight: 600;
  font-size: 1.2rem;
}
