.post-preview {
    border: 0.04rem solid rgba(180, 180, 180, 0.8);
    padding-bottom: 1.5rem;
    padding-left: 1.4rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.3rem;
    background-color: white;
    box-shadow: 0 7px 15px rgba(180, 180, 180, 0.4), 0 2px 7px rgba(180, 180, 180, 0.7);
    transition: all 0.3s ease-out;
  }

  .post-preview:hover {
    transform: translateY(-2%);
    box-shadow: 0 9px 17px rgba(180, 180, 180, 0.2), 0 7px 15px rgba(180, 180, 180, 0.4), 0 2px 7px rgba(180, 180, 180, 0.7);
  }
  
  .post-preview > a {
    color: #212529;
  }
  .post-preview > a:focus,
  .post-preview > a:hover {
    text-decoration: none;
    color: #0085a1;
  }
  .post-preview > a > .post-title {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 800;
  }
  .post-preview > a > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
    font-size: 1.2rem;
    color: #6c757d;
  }
  .post-preview > .post-meta {
    font-size: 1rem;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
  }
  .post-preview > .post-meta > a {
    text-decoration: none;
    color: #212529;
  }
  .post-preview > .post-meta > a:focus,
  .post-preview > .post-meta > a:hover {
    text-decoration: underline;
    color: #0085a1;
  }

  @media (max-width: 767.98px) {
    .post-preview > a > .post-title {
      color: #0085a1;
    }
  }

  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
  }

