<div class="row">
    <div class="col-12 mt-3" *ngFor="let article of allArticles">
        <div class="post-preview">
            <a routerLink="/articles">
                <h2 class="post-title">{{article.title}}</h2>
                <h3 class="post-subtitle" *ngIf="article.caption">{{article.caption.toLowerCase()}}</h3>
            </a>
            <p class="post-meta"><small>posted by</small>&nbsp;<a routerLink="/articles">
                {{article.author.username}}</a>  ● <small class="text-muted">{{article.timeCreated}}</small> 
                <span class="float-right">
                    <small class="text-muted"><i class="fa fa-eye" aria-hidden="true"></i>
                        {{article.views.length}}</small>
                    <small class="ml-2 text-muted"><i class="fa fa-heart-o" aria-hidden="true"></i>
                           {{article.likes.length}}</small>
                    <small class="ml-2 text-muted"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                            {{article.dislikes.length}}</small>
                </span>
            </p>
        </div>
    </div>
    <!-- <div class="col-12">
        <div class="post-preview">
            <a routerLink="/articles">
                <h2 class="post-title">I believe every human has a
                    finite number of heartbeats. I don't intend to
                    waste any of mine.</h2>
            </a>
            <p class="post-meta"><small>posted by</small>&nbsp;<a routerLink="/articles">Start
                Bootstrap</a> ● <small class="text-muted">September 24, 2018</small></p>
        </div>
    </div>
    <div class="col-12">
        <div class="post-preview">
            <a routerLink="/articles">
                <h2 class="post-title">I believe every human has a
                    finite number of heartbeats. I don't intend to
                    waste any of mine.</h2>
            </a>
            <p class="post-meta"><small>posted by</small>&nbsp;<a routerLink="/articles">Start
                Bootstrap</a> ● <small class="text-muted">September 24, 2018</small></p>
        </div>
    </div>
    <div class="col-12">
        <div class="post-preview">
            <a routerLink="/articles">
                <h2 class="post-title"> Science has not yet mastered
                    prophecy</h2>
                <h3 class="post-subtitle">We predict too much for
                    the next year and yet far too little for the
                    next ten.</h3>
            </a>
            <p class="post-meta"><small>posted by</small>&nbsp;<a routerLink="/articles">Start
                Bootstrap</a> ● <small class="text-muted">September 24, 2018</small></p>
        </div>
    </div>

    <div class="col-12">
        <div class="post-preview">
            <a routerLink="/articles">
                <h2 class="post-title">Failure is not an option</h2>
                <h3 class="post-subtitle">Many say exploration is
                    part of our destiny, but it’s actually our duty
                    to future generations.</h3>
            </a>
            <p class="post-meta"><small>posted by</small>&nbsp;<a routerLink="/articles">Start
                Bootstrap</a> ● <small class="text-muted">September 24, 2018</small></p>
        </div>
    </div> -->
</div>
<div class="clearfix"><button class="btn btn-primary float-right"
        type="button">Older Posts&nbsp;⇒</button></div>