.wildcard {
    line-height: 1.2;
    font-weight: 300;
    font-size: 2.2rem;
}

.link {
    font-size: 1.1rem;
}

@media (min-width: 768px) {
    .wildcard {
        font-size: 4rem;
    }

    .link {
        font-size: 1.25rem;
    }
}